.row{
    width: 80%;
    margin-right: 10%;
    float: right;
}
.cuisines{
    width: 100%;
}
.cuisine{
padding-bottom: 10px;
width: 60%;
margin-right:5%;
margin-left: 5%;
display: inline-block;
border: 1px solid black
}
@media only screen and (max-width: 600px) {
    .cuisine {
        width: 100%;
        }
}
.restaurants{
    border: 1px solid black;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 25px;
    width: 50%;

}
img {
    zoom: 100%;
  }
.res-h1{
    color: white;
    padding-bottom:150px;
}