body{
    animation: multicolor 7s ease infinite alternate backwards;
}
.names-area{
    width: 100%;
    height: auto;
    top: 40;
    border: 1px solid black;

}
.boxName{
    width: fit-content;
    height: 50px;
    /* background: #e00; */
    border-radius: 10px;
    position: relative;
    animation: nameEnlarge 6s ease infinite alternate backwards;
  }
  .alert{
      font-size: 25px;
      color:red;
      display: none;
  }
  .restaurants {
    /* border: 1px solid black; */
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 25px;
    width: 100%;
    transition: all 2s ease;
    cursor: pointer;
  }
  .restaurants:hover {
    width: 105%
}
  .res-h1 {
    color: white;
    background: rgba(52, 58, 64, 0.5);
    height:100px
}
.space-waster{
    padding-bottom: 150px
}
.rest-info {
    color: white;
    background: rgba(52, 58, 64, 0.5);
}
.intro-text {
    padding-top: 100px;
    text-align: center;
}

.intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 100px;
    line-height: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.intro-heading {
    font-size: 40px;
    padding-bottom: 50px
}
@keyframes multicolor {
    0% {
        background-color: rgb(54, 128, 54);
    }

    33% {
        background-color: rgb(204, 17, 17);
    }

    66% {
        background-color: rgb(43, 43, 209);
    }

    100% {
        background-color: rgb(156, 97, 204);
    }
}
@keyframes nameEnlarge {
    from {font-size: 20px}
    to {font-size: 100px; transform: rotate(360deg);}
}


